{% extends 'base-setor.html' %}
{% load time_format %}

{% block matter%}
{% load core_tags %}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTabs">
                        {% month_tabs departamento.id data.year data.month %}
                    </ul>
                    <div class="tab-content" id="tab-content-id">
                        <div id="relatorio" class="tab-pane in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="table-resumo" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>CH/Mês</th>
                                                <th>CH Semanal</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% if departamento.usuarios_ativos %}
                                                {% for usuario in departamento.usuarios_ativos %}
                                                <tr>
                                                  <td><a href="{% url 'detalhesUsuario' departamento.id usuario.id %}">{{usuario.nome}}</a></td>
                                                  <td>
                                                      {% horas_mes usuario.id data.year data.month as mes %}
                                                        {{ mes | form_horas }}
                                                  </td>
                                                  <td>
                                                    {% horas_semana usuario.id data.year data.month as semanas %}

                                                    <label class="label label-success">{{ semanas.semana1 | form_horas}}</label>
                                                    <label class="label label-warning">{{ semanas.semana2 | form_horas}}</label>
                                                    <label class="label label-danger"> {{ semanas.semana3 | form_horas}}</label>
                                                    <label class="label label-primary">{{ semanas.semana4 | form_horas}}</label>
                                                    <label class="label label-default">{{ semanas.semana5 | form_horas}}</label>
                                                    <label class="label label-info">{{ semanas.semana6 | form_horas}}</label>

                                                   </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan=8>Nenhuma informação no período.</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot style="font-weight:bold">
                                                <tr>
                                                    <th colspan=5 style="text-align:right{% if saldo1 < 0 %};color:rgb(183, 70, 53) {% endif %}"></th>
                                                    {% if is_admin %}
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    {% endif %}
                                                </tr>
                                            </tfoot>
                                    </table>
                                </div><!--/span-->
                            </div><!--/row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

              </div>

          </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">

$('#table-resumo').dataTable({
      "order": [[ 3, "desc" ]],
      "bDestroy": true,
      "sDom": 'T<"clear"><"H"lfr>t<"F"ip>',
        "tableTools": {
            "sSwfPath": "copy_csv_xls_pdf.swf",
            "aButtons": [{
                "sExtends":"print",
                "sMessage":"<div class='col-med-4'><div class='well'>"+
                        '<center><h2>{{data.month}}/{{data.year}}</h2></center>'+"<div><div>"
                },

            ]
        }
    });

</script>
{% endblock %}