{% extends 'base-setor.html' %}
{% load time_format %}

{% block matter%}
{% load core_tags %}

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTabs">
                        {% month_tabs departamento.id data.year data.month %}
                    </ul>
                    <div class="tab-content" id="tab-content-id">
                        <div id="relatorio" class="tab-pane in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="table-resumo" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>CH/Mês</th>
                                                <th>CH Semanal</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% if departamento.usuarios_ativos %}
                                                {% for usuario in departamento.usuarios_ativos %}
                                                <tr>
                                                  <td><a href="/detalhes_usuario/departamento.id/usuario.id">{{usuario.nome}}</a></td>
                                                  <td>{% horas_mes usuario.id data.year data.month %}</td>
                                                  <td>
                                                    <label class="label label-success">dados[i].semana1+</label>
                                                    <label class="label label-warning">dados[i].semana2+</label>
                                                    <label class="label label-danger">dados[i].semana3+</label>
                                                    <label class="label label-primary">dados[i].semana4+</label>
                                                    <label class="label label-success">dados[i].semana5+</label>
                                                    <label class="label label-primary">dados[i].semana6+</label>
                                                   </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan=8>Nenhuma informação no período.</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot style="font-weight:bold">
                                                <tr>
                                                    <th colspan=5 style="text-align:right{% if saldo1 < 0 %};color:rgb(183, 70, 53) {% endif %}"></th>
                                                    {% if is_admin %}
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    {% endif %}
                                                </tr>
                                            </tfoot>
                                    </table>
                                </div><!--/span-->
                            </div><!--/row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">Colaboradores do Setor</div>

                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
                    <div class="clearfix"></div>

                    <div class="widget-head ">
                      <!-- Date Picker -->

                         <div class="col-lg-offset-5">
                            <span class="label label-success">Semana 1</span>
                            <span class="label label-warning">Semana 2</span>
                            <span class="label label-danger">Semana 3</span>
                            <span class="label label-primary">Semana 4</span>
                            <span class="label label-success">Semana 5</span>
                            <span class="label label-primary">Semana 6</span>

                         </div>
                    </div>


                  <div id="info" class="widget-content">


                    <table id="tabelaPrincipal" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>CH Mês</th>
                          <th>CH Semanal</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>

                    <div class="widget-foot">
                      <div class="clearfix"></div>

                    </div>

                  </div>

                </div>

              </div>

          </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">
$('#table-resumo').dataTable({
      "order": [[ 3, "desc" ]],
      "bDestroy": true,
      "sDom": 'T<"clear"><"H"lfr>t<"F"ip>',
        "tableTools": {
            "sSwfPath": "copy_csv_xls_pdf.swf",
            "aButtons": [{
                "sExtends":"print",
                "sMessage":"<div class='col-med-4'><div class='well'>"+
                        '<center><h2>adsf</h2></center>'+"<div><div>"
                },
                {
                    "sExtends": "pdf",
                    "sButtonText": "PDF",
                    "sPdfOrientation":"landscape",
                    "mColumns":[0, 1, 2],
                    "sFileName": "ppg.pdf"
                }
            ]
        }
    });
</script>
{% endblock %}